.options {
  display: flex;
  flex-direction: column;
  flex-basis: 500rem;
  justify-content: left;
  margin: 2rem;
  border: 1px dashed dodgerblue;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.choices {
  display: flex;
}

li {
  display: flex;
}
